<form name="requestLoan">
    <div class="form-group">
        <label for="height">Größe (m)</label>
        <input class="form-control"
               cam-variable-type="Double"
               cam-variable-name="height"
               name="height"/>
    </div>
    <div class="form-group">
        <label for="weight">Gewicht (kg)</label>
        <input class="form-control"
               cam-variable-type="Double"
               cam-variable-name="weight"
               name="weight"/>
    </div>
</form>
